{% extends 'root.html' %}
{% load static %}
{% block content %}

<section class="content">
    <div class="row">
  <div class="col-xs-12">
  {% comment %} <div class="box">
    <div class="box-header with-border">
      <a href="#reset" data-toggle="modal" class="btn btn-danger btn-sm btn-flat"><i class="fa fa-refresh"></i> Đặt Lại</a>
    </div> {% endcomment %}
  <div class="box-body">
    <table id="example1" class="table table-bordered table-hover table-striped">
        <thead style="background-color: #222D32; color:white;">
            <th>Tên Đại Biểu</th>
            <th>Số Phiếu Đạt</th>
            <th>Phần Trăm Đạt</th>
        </thead>
        <tbody>
          {% for key, value in chart_data.items %}
          {% for candidate_data in value.candidates %}
            <tr>
              <td>{{ candidate_data.name }}</td>
              <td>{{ candidate_data.votes }}</td>
              <td>{{ value.percent|first }}</td> <!-- lấy phần tử đầu tiên của list percent -->
            </tr>
          {% endfor %}
        {% endfor %}  
  
                              </tbody>
    </table>
  </div>
  </div>
  </div>
  </div>
  </section>




{% endblock content %}