{% load static %}
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="{% static 'images/userplaceholder.png' %}" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>{{ request.user }}</p>
        <a><i class="fa fa-circle text-success"></i> Đang hoạt động</a>
      </div>
    </div>
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      {% if request.user.user_type == '1' %}
  
      
      <li class="header">Thống Kê</li>
      <li class=""><a href="{% url 'adminDashboard' %}"><i class="fa fa-dashboard"></i> <span>Điều Khiển</span></a></li>
      <li class=""><a href="{% url 'infoVotes' %}"><i class="fa fa-circle"></i> <span>Thông tin</span></a></li>
      <li class=""><a href="{% url 'viewVotes' %}"><span class="glyphicon glyphicon-lock"></span> <span>Kết Quả Bỏ Phiếu</span></a></li>
      <li class="header">Thiết Lập Bình Chọn</li>
      <li class=""><a href="{% url 'adminViewVoters' %}"><i class="fa fa-users"></i> <span>Danh Sách Bỏ Phiếu</span></a></li>
      <li class=""><a href="{% url 'viewPositions' %}"><i class="fa fa-tasks"></i> <span>Tùy Chỉnh Loại</span></a></li>
      <li class=""><a href="{% url 'viewCandidates' %}"><i class="fa fa-black-tie"></i> <span>Đại biểu</span></a></li>
      {% comment %} <li class=""><a href="{% url 'viewCandidates' %}"><i class="fa fa-black-tie"></i> <span>Thiết Lập Biểu Quyết</span></a></li> {% endcomment %}
      <li class="header">Cài Đặt</li>
      <li class=""><a href="{% url 'ballot_position' %}"><i class="fa fa-file-text"></i> <span>Xem Trước Mẫu</span></a></li>
      <li class=""><a href="#config" data-toggle="modal"><i class="fa fa-font"></i> <span>Tùy Chỉnh Tiêu Đề</span></a></li>
            
      {% endif %}
        
      <li class="header">Thoát</li>
      <li class=""><a href="{% url 'account_logout' %}"><i class="fa fa-power-off"></i> <span>Đăng Xuất</span></a></li>

    </ul>
  </section>
  <!-- /.sidebar -->
</aside>